.gameplay-stats-counter {
  background: #f4f7fa;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  min-width: 250px;

  &--orientation-left {
    border-radius: 3px 0px 0px 3px;
  }

  &--orientation-right {
    border-radius: 0px 3px 3px 0px;
    flex-direction: row-reverse;
  }
}
