.scoreboard {
}

.teamnames {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 60px 1fr;
  align-items: center;
  margin-bottom: 35px;
}

.statbar {
  margin-bottom: 50px;
}

.statbar__top {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 120px 1fr;
  margin-bottom: 15px;
}

.statbar__bottom {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 80px 1fr;
}
