.scoreboard {
}

.statbar {
}

.statbar__top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

.statbar__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
