@import 'src/styles/variables';

.stat-item {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;

  &--color-blue {
    fill: $blue-team;
  }

  &--color-red {
    fill: $red-team;
  }
}

.stat-item__icon {
  margin-left: 8px;
  margin-right: 8px;
}
