@import 'src/styles/variables';

.team-name {
  align-items: center;
  background: $light-background;
  border-radius: 3px;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  overflow: hidden;

  &--orientation-right {
    flex-direction: row-reverse;
  }
}

.team-name__name {
  font-weight: 800;
  margin-left: 20px;
  margin-right: 20px;
  text-transform: uppercase;
}

.team-name__logo-container {
  background: $dark-background;
  height: 100%;
}

.team-name__logo {
  height: 100%;
}
