@import 'src/styles/variables';

.app-container {
  background-color: $app-background-color;
  border-radius: 10px;
  box-shadow: 0px 23px 40px -20px rgba(0, 0, 0, 0.3);
  margin: auto;
  max-width: 540px;
  padding: 50px 150px;
}
