@import 'src/styles/variables';

.players-kills-counter {
  align-items: center;
  background-color: $dark-background;
  border-radius: 3px;
  display: flex;
}

.players-kills-counter__kill-number {
  font-size: 16px;
  font-weight: 800;
  padding: 20px;
}

.players-kills-counter__kill-logo {
  width: 21px;
}
